# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore any other .tfstate files
*.tfstate

# Ignore Terraform variable files (if they contain sensitive data)
terraform.tfvars

# Ignore plan output files
*.tfplan

# Ignore .terraform directory (which stores provider plugins, etc.)
.terraform/

# Optional: Ignore crash logs
crash.log
.terraform.lock.hcl